
.Cell {
  height: 100px;
  width: 100px;
  background-color: #cfc1b4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cell-Color-2 {
  background-color: #eee4da;
}

.Cell-Color-4 {
  background-color: #ede0c8;
}

.Cell-Color-8 {
  background-color: #f2b179;
}

.Cell-Color-16 {
  background-color: #f59563;
}

.Cell-Color-32 {
  background-color: #f67c5f;
}

.Cell-Color-64 {
  background-color: #f65e3b;
}

.Cell-Color-128 {
  background-color: #edcf72;
}

.Cell-Color-256 {
  background-color: #edcc61;
}

.Cell-Color-512 {
  background-color: #edc850;
}

.Cell-Color-1024 {
  background-color: #edc53f;
}

.Cell-Color-2048 {
  background-color: #edc22e;
}

.Cell .number {
  color: #FFF;
  font-size: 35px;
}
